@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 339 65% 98%;
    --foreground: 339 51% 4%;
    --muted: 309 18% 85%;
    --muted-foreground: 309 0% 27%;
    --popover: 339 65% 97%;
    --popover-foreground: 339 51% 3%;
    --card: 339 65% 97%;
    --card-foreground: 339 51% 3%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --primary: 339 14% 37%;
    --primary-foreground: 339 14% 97%;
    --secondary: 309 14% 37%;
    --secondary-foreground: 309 14% 97%;
    --accent: 9 14% 37%;
    --accent-foreground: 9 14% 97%;
    --destructive: 8 85% 45%;
    --destructive-foreground: 0 0% 100%;
    --ring: 339 14% 37%;
    --chart-1: 339 14% 37%;
    --chart-2: 309 14% 37%;
    --chart-3: 9 14% 37%;
    --chart-4: 309 14% 40%;
    --chart-5: 339 17% 37%;
    --radius: 0.5rem;
  }


  .dark {
    --background: 208 57% 0%;
    --foreground: 208 21% 99%;
    --muted: 208 40% 15%;
    --muted-foreground: 208 10% 65%;
    --popover: 208 57% 0%;
    --popover-foreground: 208 21% 99%;
    --card: 0 0% 1%;
    --card-foreground: 0 0% 100%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --primary: 208 67% 90%;
    --primary-foreground: 208 67% 30%;
    --secondary: 280 75% 60%;
    --secondary-foreground: 208 6% 70%;
    --accent: 29 80% 60%;
    --accent-foreground: 208 6% 70%;
    --destructive: 4 99% 46%;
    --destructive-foreground: 0 0% 100%;
    --ring: 208 67% 90%;
    --chart-1: 208 67% 90%;
    --chart-2: 208 6% 10%;
    --chart-3: 208 6% 10%;
    --chart-4: 208 6% 13%;
    --chart-5: 208 70% 90%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}

/* Custom styles for keen-slider */
.keen-slider {
  width: 100%;
  overflow: visible !important;
}

/* Hide scrollbar styles */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

